body {
    background-color: rgb(113, 52, 121);
    transition: .5s all ease;
    text-align: center;
}
}
.big-text {
    font-size: 20vw;
    line-height: 20vw;
    position: fixed;
    z-index: 1;
    color: white;
    text-shadow: 4px 4px 20px cyan;
    align-self: center;

   